<button id="snapit" class="button">
    <span>Just Take It</span>
</button>
<div id="status" class="message"></div>


<script src="/socket.io/socket.io.js"></script>
<script>
(function(){
    var socket = io.connect(),
        btn    = $("#snapit"),
        status = $("#status"),
        titles = {
            'init': 'Get ready',
            'start': "It's on!",
            'download': 'Smile!'
        };

    socket.on('booth:capture', function (txt) {
        var data;

        try {
            data = JSON.parse(txt);

            if (data && data.action) {
                if (data.action === 'stop') {
                    btn.attr("disabled", false);
                    status.empty();
                } else {
                    status.html(titles[data.action]);
                    btn.attr("disabled", true);
                }
            }
        } catch (e) {
            status.empty();
        }
    });

    btn.click(function (e) {
        // socket.emit('cmd', { run:true });
        btn.attr("disabled", true);

        $.ajax({
            url: "/snap",
            dataType: "json",
            success: function (data) {
                btn.attr("disabled", false);
                status.empty();
            },
            error: function (data) {
                status.empty();
            }
        });
    });
})();
</script>