<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" charset="utf-8" src="/js/jquery.min.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>