<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.symplelabs.photobooth</string>
    <key>ProgramArguments</key>
    <array>
      <string>{{ bin.node }}</string>
      <string>{{ path }}/app.js</string>
    </array>
    <key>RunAtLoad</key>
    <true />
    <key>KeepAlive</key>
    <true />
    <key>UserName</key>
    <string>{{ user }}</string>
    <key>WorkingDirectory</key>
    <string>{{ path }}</string>
    <key>StandardErrorPath</key>
    <string>{{ path }}/output.log</string>
    <key>StandardOutPath</key>
    <string>{{ path }}/output.log</string>
</dict>
</plist>